<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'USERS.DELETE_CONFIRM' | transloco }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()" (keydown.enter)="onCancel()" data-testid="btn-cancel-delete">{{ 'COMMON.CANCEL' | transloco }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    {{ 'USERS.DELETE_PROMPT' | transloco:{ username: data.username } }}
  </p>
  <p class="warning">
    {{ 'USERS.DELETE_WARNING' | transloco }}
  </p>

  <div class="form-actions ion-padding-top">
    <ion-button expand="block" color="danger" (click)="onConfirm()" (keydown.enter)="onConfirm()" data-testid="btn-confirm-delete">
      <ion-icon slot="start" name="trash"></ion-icon>
      {{ 'COMMON.DELETE' | transloco }}
    </ion-button>
    <ion-button expand="block" fill="outline" (click)="onCancel()" (keydown.enter)="onCancel()" data-testid="btn-cancel-delete-2">
      {{ 'COMMON.CANCEL' | transloco }}
    </ion-button>
  </div>
</ion-content>
