.table-list-container {
  padding: 20px;
}

mat-card {
  margin-bottom: 20px;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.table-card {
  width: 100%;
  height: 100%;
  margin: 8px;
}

.table-card.occupied {
  background-color: #ffebee;
}

mat-card-actions {
  display: flex;
  justify-content: space-around;
  padding: 8px;
}
