<div class="kanban">
  @for (col of columns; track trackByStatut($index, col)) {
    <div class="kanban__column">
      <div class="kanban__header">
        <span class="kanban__dot" [style.background]="'var(--ion-color-' + col.color + ')'"></span>
        <span class="kanban__label">{{ col.label | transloco }}</span>
        <ion-badge [color]="col.color" class="kanban__count">{{ col.orders.length }}</ion-badge>
      </div>
      <div class="kanban__cards">
        @for (order of col.orders; track trackByOrderId($index, order)) {
          <app-mini-commande-card
            [order]="order">
          </app-mini-commande-card>
        }
        @if (col.orders.length === 0) {
          <div class="kanban__empty">
            {{ 'BARMAN_DASHBOARD.NO_PENDING' | transloco }}
          </div>
        }
      </div>
    </div>
  }
</div>
