<ion-card>
  <ion-card-header>
    <ion-card-title>{{ isEditMode ? 'Modifier le Cocktail' : 'Nouveau Cocktail' }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="cocktailForm">
      <ion-item>
        <ion-label position="stacked">Nom</ion-label>
        <ion-input formControlName="name" required></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="cocktailForm.get('name')?.hasError('required') && cocktailForm.get('name')?.touched">
        Le nom est requis
      </ion-note>

      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-input formControlName="description" required></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="cocktailForm.get('description')?.hasError('required') && cocktailForm.get('description')?.touched">
        La description est requise
      </ion-note>

      <ion-item>
        <ion-label position="stacked">Prix</ion-label>
        <ion-input formControlName="price" required type="number"></ion-input>
      </ion-item>
      <ion-note color="danger" *ngIf="cocktailForm.get('price')?.hasError('required') && cocktailForm.get('price')?.touched">
        Le prix est requis
      </ion-note>
      <ion-note color="danger" *ngIf="cocktailForm.get('price')?.hasError('min') && cocktailForm.get('price')?.touched">
        Le prix doit être positif
      </ion-note>

      <ion-item>
        <ion-label position="stacked">Catégorie</ion-label>
        <ion-select formControlName="category" required>
          <ion-select-option value="cocktail">Cocktail</ion-select-option>
          <ion-select-option value="mocktail">Mocktail</ion-select-option>
          <ion-select-option value="shot">Shot</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-note color="danger" *ngIf="cocktailForm.get('category')?.hasError('required') && cocktailForm.get('category')?.touched">
        La catégorie est requise
      </ion-note>

      <div class="button-row">
        <ion-button fill="clear" type="button" (click)="router.navigate(['/cocktails'])">Annuler</ion-button>
        <ion-button [disabled]="!cocktailForm.valid" color="primary" type="submit">
          {{ isEditMode ? 'Modifier' : 'Créer' }}
        </ion-button>
      </div>
    </form>
  </ion-card-content>
</ion-card>
