<ion-header>
  <ion-toolbar>
    <ion-title>Notifications</ion-title>
    <ion-button slot="end" fill="clear" size="small" (click)="marquerToutLu()" (keyup.enter)="marquerToutLu()">
      <ion-icon name="checkmark-done-outline" slot="start"></ion-icon>
      Tout lu
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="notifications.length === 0" class="empty-notifs">
    <ion-icon name="notifications-off-outline"></ion-icon>
    <p>Aucune notification</p>
  </div>

  <ion-list *ngIf="notifications.length > 0">
    <ion-item
      *ngFor="let n of notifications"
      [class.lue]="n.lue"
      (click)="marquerLue(n.id)"
      (keyup.enter)="marquerLue(n.id)"
      button
      detail="false">
      <ion-badge slot="start" [color]="typeCouleur(n.type)">{{ n.type }}</ion-badge>
      <ion-label>
        <p class="notif-message">{{ n.message }}</p>
        <ion-note>{{ n.timestamp | date:'HH:mm dd/MM' }}</ion-note>
      </ion-label>
      <ion-badge slot="end" color="danger" *ngIf="!n.lue">•</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
